@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: theme("colors.accent");
}

main {
	@apply flex flex-col gap-4 bg-background p-10 -tracking-[.02em] text-white;
}

header.site-header {
	@apply flex;
}

header.site-header > span {
	@apply bg-accent px-[10px] py-[5px] text-black;
}

header.site-header::after {
	@apply block w-full content-[""];
	background: repeating-linear-gradient(
		90deg,
		var(--accent),
		var(--accent) 2px,
		transparent 0,
		transparent 10px
	);
}

html,
body,
main {
	height: 100%;
}

pre > code {
	@apply block whitespace-pre-wrap border-[1px] border-[#999] p-5;
}

h1 {
	@apply text-lg font-bold;
}

code.inline-code {
	@apply inline rounded-md bg-black p-1 text-accent;
}
